<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!-- 注解 -->
    <context:annotation-config />

    <!-- 扫描路径 -->
    <context:component-scan base-package="com.zq.youxi">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:annotation-config/>

    <!-- 配置数据源 -->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="20"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 连接池最大空闲 -->
        <!--<property name="maxIdle" value="20"/>-->
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="60000"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <!-- 配置间隔多久才进行一次检测,检测需要关闭的空闲连接,单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间,单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 跑一个数据量很大的定时任务,时长超过半个小时.如果数据库连接超过1800秒未归还,就将其强制关闭 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒,也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 打开PSCache,并且指定每个连接上PSCache的大小(Oracle使用)-->
        <!--        <property name="poolPreparedStatements" value="true"/>
                <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>-->
        <!-- 监控数据库 -->
        <property name="filters" value="config"/>
        <property name="connectionProperties" value="config.decrypt=false"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
        <!-- <property name="proxyFilters">
            <list>
                <ref bean="statFilter"/>
            </list>
        </property>-->
    </bean>

    <bean id="youxiSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations">
            <list>
                <value>classpath:mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          autowire="byName">
        <property name="basePackage" value="com.zq.youxi.dao" />
        <property name="sqlSessionFactoryBeanName" value="youxiSqlSessionFactory" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="youxiSqlSessionFactory"/>
    </bean>


    <!-- redis单机版接口实现 -->
    <bean id="jedisClient" class="com.zq.youxi.utils.JedisClientImpl"></bean>
    <!-- Redis配置 -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
        <constructor-arg name="host" value="${REDIS_HOST}"></constructor-arg>
        <constructor-arg name="port" value="${REDIS_PORT}"></constructor-arg>
    </bean>
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- 最大连接数 -->
        <property name="maxTotal" value="${REDIS_POOL_MAXTOTAL}" />
        <!-- 最大空闲连接数 -->
        <property name="maxIdle" value="${REDIS_POOL_MAXIDLE}" />
        <!-- 每次释放连接的最大数目 -->
        <property name="numTestsPerEvictionRun" value="${REDIS_POOL_NUMTESTSPEREVICTIONRUN}" />
        <!-- 释放连接的扫描间隔（毫秒） -->
        <property name="timeBetweenEvictionRunsMillis" value="${REDIS_POOL_TIMEBETWEENEVICTIONRUNSMILLIS}" />
        <!-- 连接最小空闲时间 -->
        <property name="minEvictableIdleTimeMillis" value="${REDIS_POOL_MINEVICTABLEIDLETIMEMILLIS}" />
        <!-- 连接空闲多久后释放, 当空闲时间>该值 且 空闲连接>最大空闲连接数 时直接释放 -->
        <property name="softMinEvictableIdleTimeMillis" value="${REDIS_POOL_SOFTMINEVICTABLEIDLETIMEMILLIS}" />
        <!-- 获取连接时的最大等待毫秒数,小于零:阻塞不确定的时间,默认-1 -->
        <property name="maxWaitMillis" value="${REDIS_POOL_MAXWAITMILLIS}" />
        <!-- 在获取连接的时候检查有效性, 默认false -->
        <property name="testOnBorrow" value="${REDIS_POOL_TESTONBORROW}" />
        <!-- 在空闲时检查有效性, 默认false -->
        <property name="testWhileIdle" value="${REDIS_POOL_TESTWHILEIDLE}" />
        <!-- 连接耗尽时是否阻塞, false报异常,ture阻塞直到超时, 默认true -->
        <property name="blockWhenExhausted" value="${REDIS_POOL_BLOCKWHENEXHAUSTED}" />
    </bean>

    <!-- redis集群版配置 -->
    <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
        <constructor-arg name="nodes">
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17001"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17002"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17003"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17004"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17005"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.137.109"></constructor-arg>
                    <constructor-arg name="port" value="17006"></constructor-arg>
                </bean>
            </set>
        </constructor-arg>
    </bean>

</beans>